.navbar.with-megamenu {
  --dark:rgba(9, 53, 82, 1);
  padding-top:0;
  padding-bottom:0;
  .navbar-nav > li > a {
    color:var(--dark);
  }
  .megamenu {
    a[aria-expanded="true"] {
      background-color:var(--dark);
      color:white !important;
      outline:none;
    }
    .dropdown-menu {
      background-color:var(--dark);
      color:white;
      &.show {
        animation:megamenu-drop 0.25s ease-out;
      }
      @media (min-width:576px) {
        columns:2;
        column-gap:16px;
      }
      @media (min-width:768px) {
        columns:4;
        column-gap:16px;
      }
      a {
				color:white !important;
				padding-left:0;
				padding-right:0;
      }
      li {
        break-inside:avoid;
        padding:4px 0; 
      }
    }
  }
}

@keyframes megamenu-drop {
  0% {
    opacity:0;
    margin-top:-1rem;
  }
  100% {
    opacity:1;
    margin-top:0;
  }
}