.accordion {
	// need to finish up styling 
	.accordion-toggle {
		background: none;
		border: none;
		cursor: pointer;
		outline: none;
		padding: 5px 0;
		text-align: left;
		-moz-transition: .4s;
		-o-transition: .4s;
		-webkit-transition: .4s;
		transition: .4s;
		width: 100%;

	}
	
}