.accordion {
	margin: 2rem 0;
	.accordion-item {
		padding-left: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $cuborder;
		margin-top: 1rem;
	}
	h2 {
		margin-right: 1.6rem;
	}
	.accordion-btn {
		background: none;
		border: none;
		color: $cutext-73;
		cursor: pointer;
		outline: none;
		padding: 5px 0;
		text-align: left;
		width: 100%;
	}
	.carret {
		float: left;
		margin-left: -1.6rem;
    margin-top: 0.5rem;
    height: 1.5rem;
		padding: 0.25rem;
    position: relative;
		-moz-transition: all .2s ease;
		-o-transition: all .2s ease;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
    vertical-align: middle;
    width: 1.5rem;
    &::before {
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2264px%22%20height%3D%2264px%22%20viewBox%3D%220%200%2064%2064%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20fill%3D%22%23000000%22%20points%3D%2232%2054%200%2022%207%2015%2032%2040%2057%2015%2064%2022%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 1rem;
      vertical-align: baseline;
      width: 1rem;
    }
	}
	.accordion-index {
		float: left;
		vertical-align: middle;
		margin-left: -1.6rem;
		padding-right: 0.4rem;
    position: relative;
	}
	.accordion-btn.collapsed .carret {
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	.accordion-text {
		padding:  0 1.6rem 2rem 0;
		-moz-transition: all .2s ease-out;
		-o-transition: all .2s ease-out;
		-webkit-transition: all .2s ease-out;
		transition: all .2s ease-out;
	}
	
}