.blockquote.pullquote {
	font-size:1.75rem;
	line-height:1.357;
	margin-left:2rem;
	margin-right:2rem;
	p {
		margin-bottom:12px;
	}
	footer {
		color:unset;
		font-size:1.25rem;
		margin-top:12px;
	}
}