// colors
// links
$culink-default :#3A6FA2; // medium blue
$culink-hover: #0071B3; // more saturated blue
$culink-active: #216497; // darker blue
$culink-visited: #216497;
// text
$cutext-73:#444444; // darkest, 73% dark
$cutext-66:#555555; // lighter, 66% dark
$cutext-60:#666666; // lighter, 60% dark
$cutext-53:#777777; // lightest, 53% dark
// background
$cubg-darkblue:#093552;
$cubg-slate:#4F5A65;
$cubg-grey:#AAAAAA;
$cubg-lightgrey:#E9E9E9;
$cubg-light:#F0F0F0;
// success
$cusuccess-dark:#5A781D;
$cusuccess-medium:#6B8E23;
$cusuccess-light:#C0CD3F;
// alert
$cualert-dark:#802200;
$cualert-medium:#AA2E00;
$cualert-light:#C75000;
// warning
$cuwarn-dark:#600000;
$cuwarn-medium:#AA0000;
$cuwarn-light:#DC2A2A;

$cuborder: #F0F0F0;

// named color overrides
$primary: $culink-default;
$secondary: $cutext-66;
$headings-color: #555555;

// link color overrides
$link-color: $culink-default;
$link-hover-color: $culink-hover;

$font-size-base: 1.125rem;