$break-hero:62rem;
.hero {
	background-color:var(--dark);
	color:var(--white);
	position:relative;
	img {
		position:relative;
		z-index:1;
	}
	.hero-body {
		text-align:center;
		@media (min-width:$break-hero) {
			bottom:1rem;
			left:5rem;
			position:absolute;
			right:5rem;
			z-index:2;;
		}
	}
	.hero-header {
		font-size:3rem;
		line-height:3.5rem;
	}
}
