$cuicons-admissions-advisement: "\ea01";
$cuicons-atom: "\ea02";
$cuicons-climate-change: "\ea03";
$cuicons-international-student: "\ea04";
$cuicons-low-library: "\ea05";
$cuicons-orientation: "\ea06";
$cuicons-transfer-student: "\ea07";
$cuicons-water: "\ea08";

@font-face {
    font-family: cuicons;
    src: url("../../assets/lib/cuicons/cuicons.eot");
    src: url("../../assets/lib/cuicons/cuicons.eot?#iefix") format("embedded-opentype"), url("../../assets/lib/cuicons/cuicons.woff2") format("woff2"), url("../../assets/lib/cuicons/cuicons.woff") format("woff"), url("../../assets/lib/cuicons/cuicons.ttf") format("truetype"), url("../../assets/lib/cuicons/cuicons.svg#cuicons") format("svg");
    font-style: normal;
    font-weight: 400;
}

%cuicons {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 cuicons;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.cuicons {
    @extend %cuicons;
}

.cuicons-lg {
    vertical-align: -15%;
    line-height: 0.75em;
    font-size: 1.33333333em;
}

.cuicons-2x {
    font-size: 2em;
}

.cuicons-3x {
    font-size: 3em;
}

.cuicons-4x {
    font-size: 4em;
}

.cuicons-5x {
    font-size: 5em;
}

.cuicons-fw {
    width: 1.28571429em;
    text-align: center;
}

.cuicons-admissions-advisement::before {
    content: "\ea01";
}

.cuicons-atom::before {
    content: "\ea02";
}

.cuicons-climate-change::before {
    content: "\ea03";
}

.cuicons-international-student::before {
    content: "\ea04";
}

.cuicons-low-library::before {
    content: "\ea05";
}

.cuicons-orientation::before {
    content: "\ea06";
}

.cuicons-transfer-student::before {
    content: "\ea07";
}

.cuicons-water::before {
    content: "\ea08";
}
