.cu-carousel.carousel {
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		background-size:50% 50%;
		border-radius:50%;
		height:0;
		padding-top:50%;
		width:50%;
	}
	.carousel-control-prev,
	.carousel-control-next {
		max-width:120px;
		&:hover {
			span:first-child {
				background-color:rgba(0,0,0,0.25);
			}
		}
	}
	.carousel-indicators li {
		border:10px solid transparent;
		border-left-width:3px;
		border-right-width:3px;
		border-radius:50%;
		height:15px;
		width:15px;
	}
}