html, body {
  font-size: 16px;
  font-family: Helvetica, "Lucida Grande", Arial, sans-serif;
}

figure.highlight pre {
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  height: auto !important;
}

header {
  height: 120px;
  padding: 1.5rem 0;
}

nav a {
  padding: 0 1rem;
}

nav ul.secondary a {
  height: 48px;
  line-height: 32px;
  display: block;
}